
front
wpbackend/src/wp-content/themes/**/node_modules
wpbackend/src/wp-content/themes/**/node_modules
wpbackend/src/wp-content/themes/**/vendor
wpbackend/src/wp-content/themes/**package-lock.json
wpbackend/src/wp-content/themes/**composer.lock
wpbackend/src/wp-content/themes/**style.css.map
wpbackend/src/wp-content/themes/**/.DS_Store
wpbackend/src/wp-content/themes/**/*.zip
wpbackend/src/wp-content/themes/_s
wpbackend/src/wp-content/themes/bk-underscore
wpbackend/src/**/theme-bones
wpbackend/src/**/underscore-exportdir
wpbackend/src/**/undertailwind
wpbackend/src/wp-content/themes/underscore/*.json
wpbackend/src/wp-content/themes/underscore/*.mix.js
wpbackend/src/wp-content/themes/underscore/sass
wpbackend/src/wp-content/themes/underscore/*.config.js
wpbackend/src/wp-content/themes/underscore/pre-style.css
wpbackend/src/wp-content/themes/underscore/scripts
wpbackend/src/wp-content/themes/underscore/*.map

